@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');



:root{
    --clr-orange: linear-gradient(rgba(255, 140, 0),70%, rgba(250, 199, 160)); 
    --clr-white: #f7f7f7;
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-cleangray: #878C88;

    --clr-normal:#A0A2A0;
    --clr-fire:#FF8100;
    --clr-water:#2481F0;
    --clr-grass:#3DA224;
    --clr-electric:	#FAC100;
    --clr-ice:	#9DEBFF;
    --clr-fighting:#E72324;
    --clr-poison:#923FCC;
    --clr-ground:#92501B;
    --clr-flying:#82BAF0;
    --clr-psychic:#EF3F7A;
    --clr-bug:#92A212;
    --clr-rock:#B0AB82;
    --clr-ghost:#713F71;
    --clr-dark:	#4F3F3D;
    --clr-dragon:#4F60E2;
    --clr-steel:#60A2B9;
    --clr-fairy:#EF71F0;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: var(--clr-black);
    
}

body{ 
    min-height: 100vh;
    background-color: var(--clr-white);
    overflow-x: hidden;
   
}

header{
    padding-block: 1rem;
    background-color: var(--clr-gray);
    padding: 2rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
}

main{
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.circle-div{
   align-items: center;
   justify-content: center;
    height: 22rem;
    display: flex;
    isolation: isolate;
    position: relative;
}

#circle{
    width: 60rem;
	height: 60rem;
	border-radius: 50%;
    margin-bottom: 45rem;
	z-index: -1;
    position: absolute;
}

.circle-div img{
   width: 100%;
   max-width: 23rem;
   min-width: 25rem;
   cursor: pointer;
   transition: 0.2s;
}

.circle-div img:hover{
    transform: scale(1.01);
}

.pokemon-Name{
text-align: center;
font-size: 3rem;
text-transform: capitalize;
}

.pokemon-id{
    text-align: center;
    font-size: 1.2rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.element{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 1.3rem;
}

.type{
    margin-top: .2rem;
    padding: .5rem 1.1rem;
    border-radius: 100vmax;
    transition: 0.1s;
    cursor: pointer;
    text-transform: capitalize;
}

.type:hover{
    transform: scale(1.05);
}

.type:active{
    transform: scale(0.9);
}

main{
    align-items: center;
}

.pokemon-details{
display: grid;
grid-template-columns: 1fr;
gap: 1rem;
margin-top: 1.5rem;
}

@media screen and (min-width: 470px) {
    .pokemon-details{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 700px) {
    .pokemon-details{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.detail-tittle{
    color: var(--clr-black);
    font-weight: 600;
    font-size: 0.9rem;
}


.description{
    margin-top: .3rem;
    padding: .6rem 3rem;
    border: var(--clr-cleangray) solid 2px;
    border-radius: 1.4vmax;
    text-align: center;
}

.description p {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--clr-black);
    text-transform: capitalize;
}

.detail-img{
    width: 100%;
    max-width: 1.2rem;
    margin-bottom: 0.2rem;
    
}

.tittle{
    display:flex;
    gap: 0.4rem;
}


.skills-Tittle {
    margin-top: 1.6rem;
}

.skills-Tittle p {
    font-weight: 600;
    font-size: 1.3rem;
}

.skills-Tittle hr {
    margin-top: .4rem;
}

.skills-box{
    margin-top: .5rem;
}

.skills-box p{
    margin-top: .5rem;
    padding: .6rem;
    color: var(--clr-white);
    font-weight: 600;
    border-radius: .5vmax;
    cursor:default;
}

/* === Circle Colors === */

.normal-color{
    background: linear-gradient(rgba(160, 162, 160), 70%, rgba(223, 224, 223));
}

.fire-color {
    background: linear-gradient(rgba(255, 140, 0), 70%, rgba(250, 199, 160));
}
  
.water-color {
    background: linear-gradient(rgba(36, 129, 240), 70%, rgba(182, 213, 250));
}
  
.grass-color{
    background: linear-gradient(rgba(61, 162, 36), 70%, rgba(190, 224, 182));
}

  
.electric-color{
    background: linear-gradient(rgba(250, 193, 0), 70%, rgba(253, 234, 170));
}

  
.ice-color{
    background: linear-gradient(rgba(157, 235, 255), 70%, rgba(222, 248, 255));
}

  
.fighting-color{
    background: linear-gradient(rgba(231, 35, 36), 70%, rgba(247, 181, 182));
}

  
.poison-color{
    background: linear-gradient(rgba(146, 63, 204), 70%, rgba(218, 191, 238));
}

  
.ground-color{
    background: linear-gradient(rgba(146, 80, 27), 70%, rgba(218, 196, 179));
}

  
.flying-color{
    background: linear-gradient(rgba(129, 185, 239), 70%, rgba(213, 231, 249));
}

  
.pyshic-color{
    background: linear-gradient(rgba(239, 63, 122), 70%, rgba(249, 191, 210));
}

  
.bug-color{
    background: linear-gradient(rgba(146, 162, 18), 70%, rgba(218, 224, 176));
}

  
.rock-color{
    background: linear-gradient(rgba(176, 171, 130), 70%, rgba(228, 227, 213));
}

  
.ghost-color{
    background: linear-gradient(rgba(113, 63, 113), 70%, rgba(207, 191, 207));
}

  
.dark-color{
    background: linear-gradient(rgba(79, 63, 61), 70%, rgba(196, 191, 190));
}

  
.dragon-color{
    background: linear-gradient(rgba(79, 96, 226), 70%, rgba(196, 202, 245));
}

  
.steel-color{
    background: linear-gradient(rgba(96, 162, 185), 70%, rgba(202, 224, 231));
}

  
.fairy-color{
    background: linear-gradient(rgba(239, 113, 240), 70%, rgba(249, 207, 250));
}

/* === Colors === */

.normal{
    background-color: var(--clr-normal);
    color:var(--clr-white);
}

.fire{
    background-color: var(--clr-fire);
    color:var(--clr-white);
}

.water{
    background-color: var(--clr-water);
    color:var(--clr-white);
}

.grass{
    background-color: var(--clr-grass);
    color:var(--clr-white);
}

.electric{
    background-color: var(--clr-electric);
    color:var(--clr-white);
}

.ice{
    background-color: var(--clr-ice);
    color:var(--clr-white);
}

.fighting{
    background-color: var(--clr-fighting);
    color:var(--clr-white);
}

.poison{
    background-color: var(--clr-poison);
    color:var(--clr-white);
}

.ground{
    background-color: var(--clr-ground);
    color:var(--clr-white);
}

.flying{
    background-color: var(--clr-flying);
    color:var(--clr-white);
}

.pyschic{
    background-color: var(--clr-psychic);
    color:var(--clr-white);
}

.bug{
    background-color: var(--clr-bug);
    color:var(--clr-white);
}

.rock{
    background-color: var(--clr-rock);
    color:var(--clr-white);
}

.ghost{
    background-color: var(--clr-ghost);
    color:var(--clr-white);
}

.dark{
    background-color: var(--clr-dark);
    color:var(--clr-white);
}

.dragon{
    background-color: var(--clr-dragon);
    color:var(--clr-white);
}

.steel{
    background-color: var(--clr-steel);
    color:var(--clr-white);
}

.fairy{
    background-color: var(--clr-fairy);
    color:var(--clr-white);
}